<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ServiceUrl" value=""/>
    <add key="ServiceUrl" value=""/>
    <add key="ServiceUrl" value=""/>
    <add key="ServiceUrl" value=""/>
    <add key="ServiceUrl" value=""/>
  </appSettings>
    <applicationSettings>
        <TestUpload.Properties.Settings>
            <setting name="ServiceUrl" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="AWSKey" serializeAs="String">
                <value>key</value>
            </setting>
            <setting name="AWSSecret" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="TestFile" serializeAs="String">
                <value>file</value>
            </setting>
            <setting name="Bucket" serializeAs="String">
                <value>bucket</value>
            </setting>
        </TestUpload.Properties.Settings>
    </applicationSettings>
</configuration>